.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    min-height: 30px;
}

.chatMessages {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.messageForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12%;
    min-height: 20px;
    max-height: 50px;
}

.messageInput {
    width: 80%;
    font-size: 110%;
}

.messageSubmit {
    width: 20%;

}
