.MainField {
    display: flex;
    flex-direction: column;
}

.dashBoard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    height: 5%;
    width: 100%;
    background-color: #a1c5ff;
    box-shadow: 3px 1px 5px 3px #a1c5ff
}
.shadowToDashBoard {
    height: 5px;
}

