#menu-button {
    font-size: 30px;
    cursor: pointer;
  }

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(228, 228, 228, 0.97);
    overflow-x: hidden;
    transition: 0.5s;
    text-transform: uppercase;
  }

  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overlay a, .overlay div {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    cursor: pointer;
    color: #2a2a2a;
    transition: 0.3s;
  }

  .overlay-content > a {
    font-family: 'Dosis', sans-serif;
    margin: 10px 0px;
    background-color: #c79b66;
    width: 70%;
    border-radius: 15px;
  }
  .overlay-content > a:hover,
  .overlay-content > a:focus {
    background-color: #7e592b;
    color: black;
  }

  /* .overlay a:hover,
  .overlay a:focus {
    color: #000000;
  } */

  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
    cursor: pointer;
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      /* font-size: 20px */
    }

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }