@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

input {
    background-color: white;
    border-width: 1px;
    border-style: solid;
}